# Source archives
/src/arch/idopte-p11_6.23.50.5-1_amd64.source.zip filter=lfs diff=lfs merge=lfs -text
/src/fedora/idopte-p11_6.23.50.5-1_amd64.source.zip filter=lfs diff=lfs merge=lfs -text
/src/jammy/idopte-p11_6.23.50.5-1_amd64.source.zip filter=lfs diff=lfs merge=lfs -text
/src/noble/idopte-p11_6.23.50.5-1_amd64.source.zip filter=lfs diff=lfs merge=lfs -text
