public/
.env

# Ignoramos los archivos a comprobar, la persona que construya el repositorio
# podrá opcionalmente descargar los archivos y sus digests proporcionados por
# Soporte Firma Digital y comprobarlos automáticamente.
/src/**/*.zip
/src/**/*.md5
/src/**/*.exclude
