Package: idopte-scmanager
Version: 6.23.50.5-1
Architecture: amd64
Maintainer: Soporte Firma Digital
Section: utils
Priority: optional
Depends: idopte-p11 (= 6.23.50.5-1), libc6 (>= 2.38), libstdc++6 (>= 13.2), libgcc-s1, libpcsclite1 (>= 1.7), libglib2.0-0t64, libgtk-3-0t64, libwebkit2gtk-4.1-0, libjavascriptcoregtk-4.1-0, libnotify4, libappindicator3-1, lsof, procps, sysvinit-utils, python3, python3-requests, zenity, xdg-utils, xdg-user-dirs
Recommends: python3-nautilus
Homepage: https://www.soportefirmadigital.com/
Description: Administrador gráfico SCManager de Idopte
 Interfaz gráfica e integración PKCS#7 para el middleware Idopte.
